<div id="app">
  <p>Welcome to<%= title %>
</p>
  <div v-for="item in postsList">
    <a v-bind:href="item.url">{{ item.title }}</a>
  </div>
</div>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      postsList: [],
    },
    methods: {
      fetchData() {
        axios.get('/api/v1/posts')
          .then(function (response) {
            app.postsList = response.data.postsList
            app.postsList.forEach((element) => element.url = '/posts/show?id=' + element._id);
          })
          .catch(function (error) {
            console.log(error)
          })
      }
    }
  })
  app.fetchData();
</script>