<!DOCTYPE html>
<html>
  <head>
    <title><%= show.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1><%= show.title %></h1>
      <div><%- show.content %></div>
    </div>
  </body>
</html>
